block variables

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    - var title = title || "Ironic Dashboard"
    title #{title}

    link(rel='stylesheet', href='/css/min.css')

    block head

    script(src='/js/min.js')
  body
    .container-fluid
      include header.jade
      include breadcrumb.jade
      block content

