body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ellip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error.ellip {
    width: 350px;
}

.uuid.ellip {
    width: 200px;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.row.actions {
  margin-bottom: 10px;
}


/* Pie */
.chart-container {
  text-align: center
}

#pieChart {
    margin: auto;
}

.legend-container {
    margin-top: 20px;
}

.legend li {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 2px 8px 2px 30px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* Date picker */
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#graphite {
  text-align: center;
  padding: 10px;
}
.graphite-date {
  margin-bottom: 10px;
}
